---
import "../base.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="relative max-w-screen-2xl m-auto">
		<div
			class="navbar max-w-screen-2xl max-h-20 h-20 bg-base-100 fixed z-20 top-0"
		>
			<div class="navbar-start">
				<div class="dropdown">
					<div
						tabindex="0"
						role="button"
						class="btn btn-ghost lg:hidden bg-primary"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							><path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h8m-8 6h16"></path></svg
						>
					</div>
					<ul
						class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
					>
						<li><a href="#empresa">Empresa</a></li>
						<li><a href="#historia">Historia</a></li>
						<li><a href="#servicios">Servicios</a></li>
						<li><a href="#voladura">QA / QC Voladura</a></li>
						<li><a href="#contacto">Contacto</a></li>
					</ul>
				</div>
				<a class="btn btn-ghost text-xl">daisyUI</a>
			</div>
			<div class="navbar-center hidden lg:flex">
				<ul class="menu menu-horizontal px-1 gap-2">
					<a
						href="#empresa"
						class="relative flex items-center justify-center h-20 px-4 group"
						><span
							class="absolute w-full h-full bg-primary group-hover:top-0 -top-20 skew-x-[-6deg] z-0"
						></span>
						<p class="relative z-10 font-bold uppercase italic">Empresa</p></a
					>
					<a
						href="#historia"
						class="relative flex items-center justify-center h-20 px-4 group"
						><span
							class="absolute w-full h-full bg-primary group-hover:top-0 -top-20 skew-x-[-6deg] z-0"
						></span>
						<p class="relative z-10 font-bold uppercase italic">Historia</p></a
					>
					<a
						href="#servicios"
						class="relative flex items-center justify-center h-20 px-4 group"
						><span
							class="absolute w-full h-full bg-primary group-hover:top-0 -top-20 skew-x-[-6deg] z-0"
						></span>
						<p class="relative z-10 font-bold uppercase italic">Servicios</p></a
					>
					<a
						href="#voladura"
						class="relative flex items-center justify-center h-20 px-4 group"
						><span
							class="absolute w-full h-full bg-primary group-hover:top-0 -top-20 skew-x-[-6deg] z-0"
						></span>
						<p class="relative z-10 font-bold uppercase italic">
							QA / QC Voladura
						</p></a
					>
					<a
						href="#contacto"
						class="relative flex items-center justify-center h-20 px-4 group"
						><span
							class="absolute w-full h-full bg-primary group-hover:top-0 -top-20 skew-x-[-6deg] z-0"
						></span>
						<p class="relative z-10 font-bold uppercase italic">Contacto</p></a
					>
				</ul>
			</div>
		</div>
		<section class="relative w-full">
			<div
				class="w-full max-w-screen-2xl h-screen overflow-hidden fixed top-0"
				style="z-index: -1;"
			>
				<div
					class="w-full max-w-full h-full max-h-full bg-no-repeat bg-cover bg-center"
					style="background-image: url('https://picsum.photos/2300/1070')"
				>
				</div>
			</div>
			<div class="relative w-full h-screen bg-neutral-300 bg-opacity-0 z-10">
			</div>
			<div
				id="empresa"
				class="relative w-full h-screen max-h-fit bg-neutral-300 bg-opacity-50 z-10 flex items-center justify-center"
			>
				<div
					class="md:w-3/4 w-full md:h-3/4 h-fit max-h-[600px] bg-white relative overflow-hidden bg-cover bg-no-repeat bg-right"
					style="background-image: url('https://picsum.photos/2300/1070')"
				>
					<div
						id="bgcard"
						class="h-full md:w-7/12 w-full bg-cover bg-no-repeat bg-left flex flex-col items-center justify-start p-2 md:p-16 gap-8"
						style="background-image: url(./assets/r_1.png);"
					>
						<div class="flex flex-row items-center gap-2">
							<button
								class="keep-position inline-block uppercase font-bold text-yellow-700"
								id="slide_1_mision">Mision</button
							>
							<span class="w-0.5 h-4 inline-block bg-neutral-950"></span>
							<button
								class="keep-position inline-block uppercase font-bold text-yellow-700"
								id="slide_1_vision">Vision</button
							>
							<span class="w-0.5 h-4 inline-block bg-neutral-950"></span>
							<button
								class="keep-position inline-block uppercase font-bold text-yellow-700"
								id="slide_1_valores">Valores</button
							>
						</div>
						<div class="w-full">
							<div class="carousel w-full text-sm" id="slide_1">
								<div class="carousel-item w-full">
									<p>
										Donde estamos… “Somos personas comprometidas con nuestro
										trabajo y enfocadas en entregar soluciones, venta de
										suministros y consultoría, que aumenten la seguridad,
										mejoren y optimicen los procesos de perforación y voladura”
									</p>
								</div>
								<div class="carousel-item w-full">
									<p>
										Donde queremos llegar… “Posicionarnos en el mercado de
										consultoría y abastecimiento de componentes de perforación
										primaria y secundaria, como una empresa que agrega valor a
										sus actividades por medio de soluciones altamente
										innovadoras”
									</p>
								</div>
								<div class="carousel-item w-full">
									<ul class="flex flex-row flex-wrap gap-6">
										<li class="w-5/12">
											<h4 class="font-bold">Liderazgo</h4>
											<p>
												Proponemos altas expectativas, motivando a los miembros
												del equipo y actuando con determinación.
											</p>
										</li>
										<li class="w-5/12">
											<h4 class="font-bold">Trabajo en equipo</h4>
											<p>
												Tenemos un propósito en común y trabajamos bajo una
												misma dirección porque ninguno de nosotros es tan bueno
												como todos nosotros juntos.
											</p>
										</li>
										<li class="w-5/12">
											<h4 class="font-bold">Perseverancia</h4>
											<p>
												Nos esforzamos continuamente para terminar con éxitos
												nuestros proyectos, cumpliendo y superando nuestros
												objetivos.
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="absolute md:bottom-8 bottom-2 flex flex-row gap-4 items-center p-2"
				>
					<p class="font-medium">
						DESCARGA NUESTRO <b>BROCHURE INSTITUCIONAL</b>
					</p>
					<a
						href="#"
						class="inline-block uppercase px-2 py-1 bg-yellow-500 rounded"
					>
						Descargar
					</a>
				</div>
			</div>
			<div id="historia" class="relative h-auto bg-neutral-100 z-10 w-full">
				<div class="flex justify-center items-center h-[100px] w-full p-2">
					<h2>LA HISTORIA DE <b>METAL FORCE DRILLING COMPANY</b></h2>
				</div>
				<div id="historia" class="relative h-[300px] text-white w-full">
					<button
						id="slide_2_left"
						class="absolute left-0 w-12 h-full bg-opacity-60 bg-slate-600 flex justify-center items-center z-10"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="w-6 h-6"
						>
							<path
								fill-rule="evenodd"
								d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z"
								clip-rule="evenodd"></path>
						</svg>
					</button>
					<button
						id="slide_2_right"
						class="absolute right-0 w-12 h-full bg-opacity-60 bg-slate-600 flex justify-center items-center z-10"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="w-6 h-6"
						>
							<path
								fill-rule="evenodd"
								d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z"
								clip-rule="evenodd"></path>
						</svg>
					</button>
					<div class="relative carousel h-full w-full gap-2" id="slide_2">
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
						<div class="carousel-item max-w-[300px] w-[300px]">
							<img
								class="w-full"
								src="https://picsum.photos/300/300"
								alt="Burger"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer
			id="contacto"
			class="footer md:p-10 p-6 bg-neutral text-neutral-content w-full"
		>
			<aside class="w-full">
				<svg
					width="50"
					height="50"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					fill-rule="evenodd"
					clip-rule="evenodd"
					class="fill-current"
					><path
						d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"
					></path></svg
				>
				<p>
					Metal Force Drilling Company SAC<br />Calidad que construye confianza
				</p>
			</aside>
			<nav class="w-full">
				<header class="footer-title">Contacto</header>
				<div class="flex flex-col lg:flex-row gap-4">
					<a class="flex items-center gap-1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="w-6 h-6"
						>
							<path d="M10.5 18.75a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
							></path>
							<path
								fill-rule="evenodd"
								d="M8.625.75A3.375 3.375 0 005.25 4.125v15.75a3.375 3.375 0 003.375 3.375h6.75a3.375 3.375 0 003.375-3.375V4.125A3.375 3.375 0 0015.375.75h-6.75zM7.5 4.125C7.5 3.504 8.004 3 8.625 3H9.75v.375c0 .621.504 1.125 1.125 1.125h2.25c.621 0 1.125-.504 1.125-1.125V3h1.125c.621 0 1.125.504 1.125 1.125v15.75c0 .621-.504 1.125-1.125 1.125h-6.75A1.125 1.125 0 017.5 19.875V4.125z"
								clip-rule="evenodd"></path>
						</svg>
						 982 361 182 - 932 121 699
					</a>
					<a
						class="flex items-center gap-1"
						href="mailto:barbara.galdos@metalforcedrilling.com"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="w-6 h-6"
						>
							<path
								d="M19.5 22.5a3 3 0 003-3v-8.174l-6.879 4.022 3.485 1.876a.75.75 0 01-.712 1.321l-5.683-3.06a1.5 1.5 0 00-1.422 0l-5.683 3.06a.75.75 0 01-.712-1.32l3.485-1.877L1.5 11.326V19.5a3 3 0 003 3h15z"
							></path>
							<path
								d="M1.5 9.589v-.745a3 3 0 011.578-2.641l7.5-4.039a3 3 0 012.844 0l7.5 4.039A3 3 0 0122.5 8.844v.745l-8.426 4.926-.652-.35a3 3 0 00-2.844 0l-.652.35L1.5 9.59z"
							></path>
						</svg>
						 barbara.galdos@metalforcedrilling.com
					</a>
					<a
						class="flex items-center gap-1"
						href="https://maps.app.goo.gl/zd6BCtkWJRoqZDUV8"
						rel="noopener noreferrer"
						target="_blank"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="currentColor"
							class="w-6 h-6"
						>
							<path
								fill-rule="evenodd"
								d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
								clip-rule="evenodd"></path>
						</svg>
						 Cooperativa Univesitaria J 1 Cercado Arequipa
					</a>
				</div>
			</nav>
		</footer>
	</main>
</Layout>
<script>
	let lastScrollTop; // This Varibale will store the top position

	let navbar = document.querySelector(".navbar"); // Get The NavBar
	window.addEventListener("scroll", function () {
		//on every scroll this funtion will be called

		var scrollTop = window.scrollY || document.documentElement.scrollTop;
		//This line will get the location on scroll

		if (scrollTop > lastScrollTop) {
			//if it will be greater than the previous
			navbar.classList.add("-top-20");
			navbar.classList.remove("top-0");
			//set the value to the negetive of height of navbar
		} else {
			navbar.classList.remove("-top-20");
			navbar.classList.add("top-0");
		}

		lastScrollTop = scrollTop; //New Position Stored
	});

	let $slide_1 = document.getElementById("slide_1");
	let $slide_2 = document.getElementById("slide_2");
	let asd = false;
	document.addEventListener("click", (e) => {
		if (e !== null && e.target !== null) {
			const element = e.target as HTMLElement;

			if (
				element.matches("#slide_2_left") ||
				element.matches("#slide_2_left *")
			) {
				$slide_2.scrollLeft -= $slide_2.clientWidth;
			}
			if (
				element.matches("#slide_2_right") ||
				element.matches("#slide_2_right *")
			) {
				$slide_2.scrollLeft += $slide_2.clientWidth;
			}
			if (
				element.matches("#slide_1_mision") ||
				element.matches("#slide_1_mision *")
			) {
				$slide_1.scrollLeft = 0;
			}
			if (
				element.matches("#slide_1_vision") ||
				element.matches("#slide_1_vision *")
			) {
				$slide_1.scrollLeft = $slide_1.clientWidth;
			}
			if (
				element.matches("#slide_1_valores") ||
				element.matches("#slide_1_valores *")
			) {
				$slide_1.scrollLeft = $slide_1.clientWidth * 2;
			}
		}
	});
</script>
<style>
	#mision,
	#vision,
	#valores {
		offset-anchor: 0 200px;
	}
	.navbar {
		transition: top 0.3s ease-in-out;
	}
	.group > span {
		transition: top 0.3s ease-in-out;
	}
</style>
